recursive-include cygorithms/linked_list/cy_linked_list_src *.pyx
recursive-include cygorithms/trees/cy_trees_src *.pyx
recursive-include cygorithms/arrays/c_algorithms_src *.c *.h
recursive-include cygorithms/arrays/c_array_src *.c *.h
recursive-include cygorithms/arrays/c_util *.h
recursive-include cygorithms/string/c_algorithms_src *.c *.h
